.card-container {
  width: 400px;
  height: 500px;
  border-radius: 8px;
  background-color: #242423;
  text-align: center;
  color: white;
}

.card-title {
  padding-top: 20px;
  text-transform: uppercase;
}
.card-jobs {
  list-style: none;
}
p {
  text-align: start;
  letter-spacing: 2px;
  padding: 10px 15px 0 35px;
}
