#root {
  margin: 0;
  padding: 0;
}
.img {
  object-fit: cover;
  border-radius: 50%;
}
.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #242423;
  color: white;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 1000px;
}
.API-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #242423;
  color: white;
  border-radius: 8px;
}
